
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.obj-link{
	color:  black;
	font-weight: bold;
}
.create-new-link{
	margin: 10px;
}
.create-new-link-sm{
	margin: 10px 0px;
}

.obj-list-container{
	padding: 15px 30px;
}
.obj-list-container h1{
	margin-bottom:  0px;
}

.obj-list-table-container{
	/*padding:  5px;*/
	border: 2px solid #dfdfdf;
	border-radius: 5px;
}

.obj-list-table-container > p{
	margin: 10px;
}

.obj-list-new-container{
	width: 96%;
	margin: 10px auto;	
	display: flex;
	justify-content: space-between;
}

.obj-list-new-container .pagination{
	margin: auto 0px;
}

@media 
only screen and (min-width: 760px){
	.obj-list-table-container, .filter-container{
		width: 96%;
		margin: auto;		
	}	
}

.obj-list-table{
	margin-bottom:  0px;
	table-layout: fixed;
	font-size: 14px;
}

.obj-list-table .btn{
	font-size: 14px;
	padding: .2rem .45rem;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th, td {
  text-align: left;
  word-break: break-word;
}

.filter-container .create-new-link{
	float: right;
	margin: 0px 0px 10px 0px;
}

.filter-container .asc-desc-container{
	display: flex;
	padding-right: 0px;

}

.form-container{
	font-size: .9rem;
}

.faturamento-div{
	margin: 5px 0px;
	border-top: 3px solid lightskyblue;
}
.cobranca-div{
	margin: 5px 0px;
	border-top: 3px solid lightsalmon;
}
.entrega-div{
	margin: 5px 0px;
	border-top: 3px solid lightseagreen;
}