{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
    
    <div class="form-container">
        <h1 class="mb-5">{{ createUpdate }} Acabamento</h1>

        <form action="" method="post">
            {% csrf_token %}
           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Tipo de Acabamento</label>
                    {{ form.acabamento|add_class:'form-control' }}
                </div>
            </div>
            
            <input class="btn btn-primary submit-btn" type="submit" value="Submit" />
            <a href="{% url 'acabamentos' %}"><input class="btn btn-secondary submit-btn" type="button" value="Cancel" /></a>
            
        </form>
    </div>
{% endblock %}
