{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
    
    <div class="form-container">
        <h1 class="mb-5">Criar Assistencia</h1>

        <form action="" method="post">
            {% csrf_token %}
           <!-- {% for field in form %}
                <p style="color:black">{{ field.name }}: {{ field }}</p>
            {% endfor %}
             -->

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Data</label>
                    {{ form.data|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-4">
                    <label>Nr. Solicitação</label>
                    {{ form.numeroSolicitacao|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-4">
                    <label>Status</label>
                    {{ form.status|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Cliente</label>
                    {{ form.cliente|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-4">
                   <label>Representada</label>
                    {{ form.representada|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-4">
                    <label>Transportadora</label>
                    {{ form.transportadora|add_class:'form-control' }}
                </div>
            </div>

            <div class="form-group">
                <label>Observacoes</label>
                {{ form.observacoes|add_class:'form-control' }}
            </div>

            <!-- ######  Item Assistencia  ######## -->

            <hr>

            <div id="formset-container">
                <h3>Item Assistência</h3>
                {{ formset.management_form }}
                {% for form in formset %}
                    <div id="formset-{{ forloop.counter0 }}" class="formset-div">
                        <div class="form-row">
                            <div hidden>                           
                                {{ form.id|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-md-3">
                                <label>Produto</label>
                                {{ form.produto|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-md-1">
                                <label>Referencia</label>
                                {{ form.referencia|add_class:'form-control'|attr:'readonly' }}
                            </div>
                            <div class="form-group col-md-2">
                                <label>Acabamento</label>
                                {{ form.acabamento|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-md-2">
                                <label>Tecido</label>
                                {{ form.tecido|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-md-1">
                                <label>Quantidade</label>
                                {{ form.quantidade|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-md-2">
                                <label>Observacoes</label>
                                {{ form.observacoes|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-md-1">
                                <label>Mostruario</label>
                                {{ form.mostruario|add_class:'form-control' }}
                            </div>
                        </div>
                    </div>                
                {% endfor %}
            </div>
                
            <script type="text/html" id="formset-template">
                
                    {% for form in formset %}
                    {% if forloop.last %}
                    <div id="formset-__prefix__" class="formset-div">
                        <div hidden>                           
                            {{ form.id|add_class:'form-control' }}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>Produto</label>
                                {{ form.produto|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-md-1">
                                <label>Referencia</label>
                                {{ form.referencia|add_class:'form-control'|attr:'readonly' }}
                            </div>
                            <div class="form-group col-md-2">
                                <label>Acabamento</label>
                                {{ form.acabamento|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-md-2">
                                <label>Tecido</label>
                                {{ form.tecido|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-md-1">
                                <label>Quantidade</label>
                                {{ form.quantidade|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-md-2">
                                <label>Observacoes</label>
                                {{ form.observacoes|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-md-1">
                                <label>Mostruario</label>
                                {{ form.mostruario|add_class:'form-control' }}
                            </div>
                        </div>
                    </div>                
                    {% endif %}
                    {% endfor %}
                
            </script>
                
            <a href="#" id="add-item-button" class="btn btn-info add-item">Add formset</a>
            
            <hr>
            
            <input class="btn btn-primary submit-btn" type="submit" value="Submit" />
            <a href="{% url 'assistencias' %}"><input class="btn btn-secondary submit-btn" type="button" value="Cancel" /></a>
            
        </form>
    </div>

<script>
    
    $( function() {
        $( "#id_data" ).datepicker();
    } );
    $(function() {
        $('.add-item').on('click', function(ev) {
            console.log("DJONODCN");
            ev.preventDefault();
            var count = $('#formset-container').children(".formset-div").length;
            console.log(count);
            var tmplMarkup = $('#formset-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count).replace(/set-\d+/g,"set-"+count);
            $('div#formset-container').append(compiledTmpl);

            // update form count
            $("[id$='TOTAL_FORMS']").attr('value', count+1);

            // some animate to scroll to view our new form
            $('html, body').animate({
                scrollTop: $("#add-item-button").position().top-200
            }, 800);
            populateFields();
            $("[id$='-quantidade']").inputSpinner();
        });
    });

    function populateFields(){
        $("[id$='-produto']").on('change', function(){
            console.log(this.id);
            var $id_split = this.id.split("-");
            var $id_produto = $('#'+$id_split[0]+'-'+$id_split[1]+'-produto').val();

            $.ajax({
                method: "GET",
                url: "{% url 'get_produto_info' %}",
                dataType: 'json',
                data: { produto: $id_produto },
                success: function(data, status) {
                    referencia = data['referencia'];
                    
                    $('#'+$id_split[0]+'-'+$id_split[1]+'-referencia').val(referencia);
                },
                error: function(response) {
                }
            });
            

        });        
    }
    $(function() {
        populateFields();
        $("[id$='-quantidade']").inputSpinner();
    });
    $("[id$='-produto']").each(function() {
        console.log(this.id);
        var $id_split = this.id.split("-");
        var $id_produto = $('#'+$id_split[0]+'-'+$id_split[1]+'-produto').val();
        if($id_produto){
            $.ajax({    
                method: "GET",
                url: "{% url 'get_produto_info' %}",
                dataType: 'json',
                data: { produto: $id_produto },
                success: function(data, status) {
                    referencia = data['referencia'];
                    
                    $('#'+$id_split[0]+'-'+$id_split[1]+'-referencia').val(referencia);
                },
                error: function(response) {
                }
            });
        }   
    });


</script>
{% endblock %}
