{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
    
    <div class="form-container">
        <h1 class="mb-5">{{ createUpdate }} Assistencia</h1>

        <form action="" method="post">
            {% csrf_token %}
           <!-- {% for field in form %}
                <p style="color:black">{{ field.name }}: {{ field }}</p>
            {% endfor %}
             -->

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Data</label>
                    {{ form.data|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-4">
                    <label>Nr. Solicitação</label>
                    {{ form.numeroSolicitacao|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-4">
                    <label>Status</label>
                    {{ form.status|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Cliente</label>
                    {{ form.cliente|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-4">
                   <label>Representada</label>
                    {{ form.representada|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-4">
                    <label>Transportadora</label>
                    {{ form.transportadora|add_class:'form-control' }}
                </div>
            </div>

            <div class="form-group">
                <label>Observações</label>
                {{ form.observacoes|add_class:'form-control' }}
            </div>

            <!-- ######  Item Assistencia  ######## -->

            <hr>

            <div id="formset-container">
                <h3>Itens da Assistência</h3>
                {{ formset.management_form }}
                {% for form in formset %}
                    <div id="formset-{{ forloop.counter0 }}" class="formset-div item-assistencia-div">
                        <div class="form-row">
                            <div hidden>                           
                                {{ form.id|add_class:'form-control' }}
                                {{ form.deleted_at|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w20">
                                <label>Produto</label>
                                {{ form.produto|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w10">
                                <label>Referência</label>
                                {{ form.referencia|add_class:'form-control'|attr:'readonly' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w15">
                                <label>Acabamento</label>
                                {{ form.acabamento|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w15">
                                <label>Tecido</label>
                                {{ form.tecido|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w12">
                                <label>Quantidade</label>
                                {{ form.quantidade|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w20 ">
                                <label>Observações</label>
                                {{ form.observacoes|add_class:'form-control obs-assist' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w5">
                                <label>Mostruário</label>
                                {{ form.mostruario|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-sm item-w3-assist">
                                <input id="id_itemassistencia_set-{{ forloop.counter0 }}-remover" class="btn btn-danger delete-item" type="button" value="X" />
                            </div>
                        </div>
                    </div>                
                {% endfor %}
            </div>
                
            <script type="text/html" id="formset-template">
                
                    {% for form in formset %}
                    {% if forloop.last %}
                    <div id="formset-__prefix__" class="formset-div item-assistencia-div">
                        <div class="form-row">
                            <div hidden>                           
                                {{ form.id|add_class:'form-control' }}
                                {{ form.deleted_at|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w20">
                                <label>Produto</label>
                                {{ form.produto|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w10">
                                <label>Referência</label>
                                {{ form.referencia|add_class:'form-control'|attr:'readonly' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w15">
                                <label>Acabamento</label>
                                {{ form.acabamento|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w15">
                                <label>Tecido</label>
                                {{ form.tecido|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w12">
                                <label>Quantidade</label>
                                {{ form.quantidade|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w20 ">
                                <label>Observações</label>
                                {{ form.observacoes|add_class:'form-control obs-assist' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w5">
                                <label>Mostruário</label>
                                {{ form.mostruario|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-sm item-w3-assist">
                                <input id="id_itemassistencia_set-__prefix__-remover" class="btn btn-danger delete-item" type="button" value="X" />
                            </div>
                        </div>
                    </div>                
                    {% endif %}
                    {% endfor %}
                
            </script>
                
            <a href="#" id="add-item-button" class="btn btn-info add-item">Adicionar Item</a>
            
            <hr>
            
            <input class="btn btn-primary submit-btn" type="submit" value="Salvar" />
            <a href="{% url 'assistencias' %}"><input class="btn btn-secondary submit-btn" type="button" value="Cancelar" /></a>
            
        </form>

        <!-- Modal confirm -->
        <div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body" id="confirmMessage">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmOk">Sim</button>
                    <button type="button" class="btn btn-secondary" id="confirmCancel">Cancelar</button>
                    </div>
            </div>
            </div>
        </div>
    </div>
{% if form_invalid %}
<script>
    alert("Preencha todos campos do formulário corretamente.");
</script>

{% endif %}
<script>
    $("[id$='_cliente']").select2();
    $("[id$='_representada']").select2();
    $("[id$='_trasnportadora']").select2();
    $("[id$='-produto']").select2();
    $("[id$='-acabamento']").select2();
    $("[id$='-tecido']").select2();
    $( function() {
        $( "#id_data" ).datepicker();
    } );

    function deleteItemEvent(){
        $('.delete-item').on('click', function(){
            console.log(this.id);
            var $id_split = this.id.split("-");

            confirmDialog("<h3>Remover este item?</h3>", function(){
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();
                today = yyyy + '-' + mm + '-' + dd;

                console.log("### "+$id_split[0]+'-'+$id_split[1]);
                $('#'+$id_split[0]+'-'+$id_split[1]+'-deleted_at').val(today);
                
                $('#'+$id_split[0]+'-'+$id_split[1]+'-quantidade').val(0);
                
                $('#formset-'+$id_split[1]).hide();
                
                console.log("deleted!");
            });
                
        });
    }
    deleteItemEvent();
    function confirmDialog(message, onConfirm){
        var fClose = function(){
            modal.modal("hide");
        };
        var modal = $("#confirmModal");
        modal.modal("show");
        $("#confirmMessage").empty().append(message);
        $("#confirmOk").unbind().one('click', onConfirm).one('click', fClose);
        $("#confirmCancel").unbind().one("click", fClose);
    }

    $(function() {
        $('.add-item').on('click', function(ev) {
            console.log("DJONODCN");
            ev.preventDefault();
            var count = $('#formset-container').children(".formset-div").length;
            console.log(count);
            var tmplMarkup = $('#formset-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count).replace(/set-\d+/g,"set-"+count);
            $('div#formset-container').append(compiledTmpl);

            // update form count
            $("[id$='TOTAL_FORMS']").attr('value', count+1);

            // some animate to scroll to view our new form
            $('html, body').animate({
                scrollTop: $("#add-item-button").position().top-200
            }, 800);
            $("[id$='-produto']").select2();
            $("[id$='-acabamento']").select2();
            $("[id$='-tecido']").select2();
            populateFields();
            deleteItemEvent();
            $("[id$='-quantidade']").inputSpinner();
        });
    });

    function populateFields(){
        $("[id$='-produto']").on('change', function(){
            console.log(this.id);
            var $id_split = this.id.split("-");
            var $id_produto = $('#'+$id_split[0]+'-'+$id_split[1]+'-produto').val();

            $.ajax({
                method: "GET",
                url: "{% url 'get_produto_info' %}",
                dataType: 'json',
                data: { produto: $id_produto },
                success: function(data, status) {
                    referencia = data['referencia'];
                    
                    $('#'+$id_split[0]+'-'+$id_split[1]+'-referencia').val(referencia);
                },
                error: function(response) {
                }
            });
            

        });        
    }
    $(function() {
        populateFields();
        $("[id$='-quantidade']").inputSpinner();
    });
    $("[id$='-produto']").each(function() {
        console.log(this.id);
        var $id_split = this.id.split("-");
        var $id_produto = $('#'+$id_split[0]+'-'+$id_split[1]+'-produto').val();
        if($id_produto){
            $.ajax({    
                method: "GET",
                url: "{% url 'get_produto_info' %}",
                dataType: 'json',
                data: { produto: $id_produto },
                success: function(data, status) {
                    referencia = data['referencia'];
                    
                    $('#'+$id_split[0]+'-'+$id_split[1]+'-referencia').val(referencia);
                },
                error: function(response) {
                }
            });
        }   
    });


</script>
{% endblock %}
