{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
    
    <div class="form-container">
        <h1 class="mb-5">Criar Cliente</h1>

        <form action="" method="post">
            {% csrf_token %}
           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Razão Social</label>
                    {{ form.razaoSocial|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-6">
                    <label>Nome Fantasia</label>
                    {{ form.nomeFantasia|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Diretor</label>
                    {{ form.diretor|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>comprador</label>
                    {{ form.comprador|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>financeiro</label>
                    {{ form.financeiro|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>regApuracao</label>
                    {{ form.regApuracao|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>telefone</label>
                    {{ form.telefone|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>celular</label>
                    {{ form.celular|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>email</label>
                    {{ form.email|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>observacoes</label>
                    {{ form.observacoes|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>fat_inscEstadual</label>
                    {{ form.fat_inscEstadual|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>fat_estado</label>
                    {{ form.fat_estado|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>fat_cidade</label>
                    {{ form.fat_cidade|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>fat_cep</label>
                    {{ form.fat_cep|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>fat_endereco</label>
                    {{ form.fat_endereco|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>fat_bairro</label>
                    {{ form.fat_bairro|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>fat_cnpj</label>
                    {{ form.fat_cnpj|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>cob_inscEstadual</label>
                    {{ form.cob_inscEstadual|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>cob_estado</label>
                    {{ form.cob_estado|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>cob_cidade</label>
                    {{ form.cob_cidade|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>cob_cep</label>
                    {{ form.cob_cep|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>cob_endereco</label>
                    {{ form.cob_endereco|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>cob_bairro</label>
                    {{ form.cob_bairro|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>cob_cnpj</label>
                    {{ form.cob_cnpj|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>entr_inscEstadual</label>
                    {{ form.entr_inscEstadual|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>entr_estado</label>
                    {{ form.entr_estado|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>entr_cidade</label>
                    {{ form.entr_cidade|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>entr_cep</label>
                    {{ form.entr_cep|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>entr_endereco</label>
                    {{ form.entr_endereco|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>entr_bairro</label>
                    {{ form.entr_bairro|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>entr_cnpj</label>
                    {{ form.entr_cnpj|add_class:'form-control' }}
                </div>
            </div>

            <!-- <div class="input-group">
                <label>observacoes</label>
                <div class="input-group-append">
                    <div class="input-group-text"> <span class="fas fa-user"></span> </div>
                </div>
                
                {{ form.observacoes|add_class:'form-control' }}
            </div>   -->
          
            
            <input class="btn btn-primary submit-btn" type="submit" value="Submit" />
            <a href="{% url 'clientes' %}"><input class="btn btn-secondary submit-btn" type="button" value="Cancel" /></a>
            
        </form>
    </div>
<script>
    var fat_cep = document.getElementById("id_fat_cep")
    var cob_cep = document.getElementById("id_cob_cep")
    var entr_cep = document.getElementById("id_entr_cep")
    fat_cep.onblur = function(){
        console.log("poaspoaspoaspoaspoaspo")
        var url = "https://viacep.com.br/ws/"+fat_cep.value+"/json/";
                
        // Faz a pesquisa do CEP, tratando o retorno com try/catch para que
        // caso ocorra algum erro (o cep pode não existir, por exemplo) a
        // usabilidade não seja afetada, assim o usuário pode continuar//
        // preenchendo os campos normalmente
        fetch(url, {
            method: 'get'
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            document.getElementById("id_fat_estado").value = data.uf
            document.getElementById("id_fat_endereco").value = data.logradouro
            document.getElementById("id_fat_cidade").value = data.localidade
            document.getElementById("id_fat_bairro").value = data.bairro

        }).catch(function(err) {
            // Error :(
        });
    };
    cob_cep.onblur = function(){
        console.log("poaspoaspoaspoaspoaspo")
        var url = "https://viacep.com.br/ws/"+cob_cep.value+"/json/";
                
        // Faz a pesquisa do CEP, tratando o retorno com try/catch para que
        // caso ocorra algum erro (o cep pode não existir, por exemplo) a
        // usabilidade não seja afetada, assim o usuário pode continuar//
        // preenchendo os campos normalmente
        fetch(url, {
            method: 'get'
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            document.getElementById("id_cob_estado").value = data.uf
            document.getElementById("id_cob_endereco").value = data.logradouro
            document.getElementById("id_cob_cidade").value = data.localidade
            document.getElementById("id_cob_bairro").value = data.bairro

        }).catch(function(err) {
            // Error :(
        });
    };
    entr_cep.onblur = function(){
        console.log("poaspoaspoaspoaspoaspo")
        var url = "https://viacep.com.br/ws/"+entr_cep.value+"/json/";
                
        // Faz a pesquisa do CEP, tratando o retorno com try/catch para que
        // caso ocorra algum erro (o cep pode não existir, por exemplo) a
        // usabilidade não seja afetada, assim o usuário pode continuar//
        // preenchendo os campos normalmente
        fetch(url, {
            method: 'get'
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            document.getElementById("id_entr_estado").value = data.uf
            document.getElementById("id_entr_endereco").value = data.logradouro
            document.getElementById("id_entr_cidade").value = data.localidade
            document.getElementById("id_entr_bairro").value = data.bairro

        }).catch(function(err) {
            // Error :(
        });
    };


</script>
{% endblock %}
