{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
    
    <div class="form-container">
        <h1 class="mb-5">{{ createUpdate }} Cliente</h1>

        <form action="" method="post">
            {% csrf_token %}
           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Razão Social</label>
                    {{ form.razaoSocial|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-6">
                    <label>Nome Fantasia</label>
                    {{ form.nomeFantasia|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Diretor</label>
                    {{ form.diretor|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>Comprador</label>
                    {{ form.comprador|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>Financeiro</label>
                    {{ form.financeiro|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>Regime de Apuração</label>
                    {{ form.regApuracao|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Telefone</label>
                    {{ form.telefone|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>Celular</label>
                    {{ form.celular|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>E-mail</label>
                    {{ form.email|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>Observações</label>
                    {{ form.observacoes|add_class:'form-control' }}
                </div>
            </div>
            <div id="fat-div" class="faturamento-div">
                <div class="dadosFaturamentoButton">
                    <h3>Dados de Faturamento</h3>
                    <a id="repeat-data" class="btn btn-info btn-repetir-dados" href="#fat-div" >Repetir Dados</a>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Inscrição Estadual</label>
                        {{ form.fat_inscEstadual|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>CNPJ</label>
                        {{ form.fat_cnpj|add_class:'form-control' }}
                    </div>
                    
                    
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label>CEP</label>
                        {{ form.fat_cep|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Cidade</label>
                        {{ form.fat_cidade|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-1">
                        <label>Estado</label>
                        {{ form.fat_estado|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Endereco</label>
                        {{ form.fat_endereco|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Bairro</label>
                        {{ form.fat_bairro|add_class:'form-control' }}
                    </div>
                    
                </div>
            </div>
            <div class="cobranca-div">
                <h3>Dados de Cobrança</h3>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Inscrição Estadual</label>
                        {{ form.cob_inscEstadual|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>CNPJ</label>
                        {{ form.cob_cnpj|add_class:'form-control' }}
                    </div>
                    
                    
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label>CEP</label>
                        {{ form.cob_cep|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Cidade</label>
                        {{ form.cob_cidade|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-1">
                        <label>Estado</label>
                        {{ form.cob_estado|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Endereco</label>
                        {{ form.cob_endereco|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Bairro</label>
                        {{ form.cob_bairro|add_class:'form-control' }}
                    </div>
                    
                </div>
            </div>
            <div class="entrega-div">
                <h3>Dados de Entrega</h3>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Inscrição Estadual</label>
                        {{ form.entr_inscEstadual|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>CNPJ</label>
                        {{ form.entr_cnpj|add_class:'form-control' }}
                    </div>
                    
                    
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label>CEP</label>
                        {{ form.entr_cep|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Cidade</label>
                        {{ form.entr_cidade|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-1">
                        <label>Estado</label>
                        {{ form.entr_estado|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Endereco</label>
                        {{ form.entr_endereco|add_class:'form-control' }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Bairro</label>
                        {{ form.entr_bairro|add_class:'form-control' }}
                    </div>
                    
                </div>
            </div>

            <!-- <div class="input-group">
                <label>observacoes</label>
                <div class="input-group-append">
                    <div class="input-group-text"> <span class="fas fa-user"></span> </div>
                </div>
                
                {{ form.observacoes|add_class:'form-control' }}
            </div>   -->
          
            
            <input class="btn btn-primary submit-btn" type="submit" value="Salvar" />
            <a href="{% url 'clientes' %}"><input class="btn btn-secondary submit-btn" type="button" value="Cancelar" /></a>
            
        </form>
    </div>
<script>
    $("#id_fat_cnpj").mask("99.999.999/9999-99");
    $("#id_cob_cnpj").mask("99.999.999/9999-99");
    $("#id_entr_cnpj").mask("99.999.999/9999-99");

    $("#id_fat_cep").mask("99999-999");
    $("#id_cob_cep").mask("99999-999");
    $("#id_entr_cep").mask("99999-999");

    $("#id_telefone").mask("(99) 9999-9999");
    $("#id_celular").mask("(99) 99999-9999");

    var fat_cep = document.getElementById("id_fat_cep")
    var cob_cep = document.getElementById("id_cob_cep")
    var entr_cep = document.getElementById("id_entr_cep")
    fat_cep.onblur = function(){
        console.log("poaspoaspoaspoaspoaspo")
        var url = "https://viacep.com.br/ws/"+fat_cep.value+"/json/";
                
        // Faz a pesquisa do CEP, tratando o retorno com try/catch para que
        // caso ocorra algum erro (o cep pode não existir, por exemplo) a
        // usabilidade não seja afetada, assim o usuário pode continuar//
        // preenchendo os campos normalmente
        fetch(url, {
            method: 'get'
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            document.getElementById("id_fat_estado").value = data.uf
            document.getElementById("id_fat_endereco").value = data.logradouro
            document.getElementById("id_fat_cidade").value = data.localidade
            document.getElementById("id_fat_bairro").value = data.bairro

        }).catch(function(err) {
            // Error :(
        });
    };
    cob_cep.onblur = function(){
        console.log("poaspoaspoaspoaspoaspo")
        var url = "https://viacep.com.br/ws/"+cob_cep.value+"/json/";
                
        // Faz a pesquisa do CEP, tratando o retorno com try/catch para que
        // caso ocorra algum erro (o cep pode não existir, por exemplo) a
        // usabilidade não seja afetada, assim o usuário pode continuar//
        // preenchendo os campos normalmente
        fetch(url, {
            method: 'get'
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            document.getElementById("id_cob_estado").value = data.uf
            document.getElementById("id_cob_endereco").value = data.logradouro
            document.getElementById("id_cob_cidade").value = data.localidade
            document.getElementById("id_cob_bairro").value = data.bairro

        }).catch(function(err) {
            // Error :(
        });
    };
    entr_cep.onblur = function(){
        console.log("poaspoaspoaspoaspoaspo")
        var url = "https://viacep.com.br/ws/"+entr_cep.value+"/json/";
                
        // Faz a pesquisa do CEP, tratando o retorno com try/catch para que
        // caso ocorra algum erro (o cep pode não existir, por exemplo) a
        // usabilidade não seja afetada, assim o usuário pode continuar//
        // preenchendo os campos normalmente
        fetch(url, {
            method: 'get'
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            document.getElementById("id_entr_estado").value = data.uf
            document.getElementById("id_entr_endereco").value = data.logradouro
            document.getElementById("id_entr_cidade").value = data.localidade
            document.getElementById("id_entr_bairro").value = data.bairro

        }).catch(function(err) {
            // Error :(
        });
    };

    function repeatData(){
        $('#repeat-data').on('click', function(ev) {
            inscEstadual = $("#id_fat_inscEstadual").val();
            $("#id_cob_inscEstadual").val(inscEstadual)
            $("#id_entr_inscEstadual").val(inscEstadual)

            cep = $("#id_fat_cep").val();
            $("#id_cob_cep").val(cep)
            $("#id_entr_cep").val(cep)
            
            cidade = $("#id_fat_cidade").val();
            $("#id_cob_cidade").val(cidade)
            $("#id_entr_cidade").val(cidade)

            estado = $("#id_fat_estado").val();
            $("#id_cob_estado").val(estado)
            $("#id_entr_estado").val(estado)

            endereco = $("#id_fat_endereco").val();
            $("#id_cob_endereco").val(endereco)
            $("#id_entr_endereco").val(endereco)

            bairro = $("#id_fat_bairro").val();
            $("#id_cob_bairro").val(bairro)
            $("#id_entr_bairro").val(bairro)

            cnpj = $("#id_fat_cnpj").val();
            $("#id_cob_cnpj").val(cnpj)
            $("#id_entr_cnpj").val(cnpj)
        });
    }
    repeatData();


</script>
{% endblock %}
