{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
    
    <div class="form-container">
        <h1 class="mb-5">{{ createUpdate }} Pedido</h1>

        <form action="" method="post">
            {% csrf_token %}
           
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Data</label>
                    {{ form.data|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-4">
                    <label>Ordem de Compra</label>
                    {{ form.ordemCompra|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-4">
                    <label>Status</label>
                    {{ form.status|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Cliente</label>
                    {{ form.cliente|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-6">
                   <label>Representada</label>
                    {{ form.representada|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                   <label>Vendedor</label>
                    {{ form.vendedor|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-6">
                    <label>Transportadora</label>
                    {{ form.transportadora|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Tipo Frete</label>
                    {{ form.tipoFrete|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-4">
                    <label>Forma Pagamento</label>
                    {{ form.formaPagamento|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-4">
                    <label>Tipo Cobrança</label>
                    {{ form.tipoCobranca|add_class:'form-control' }}
                </div>
            </div>

            <hr/>

            <div id="formset-container">
                <h3>Itens do Pedido</h3>
                {{ formset.management_form }}
                {% for form in formset %}
                    <div id="formset-{{ forloop.counter0 }}" class="formset-div">
                        <div hidden>                           
                            {{ form.id|add_class:'form-control' }}
                            {{ form.deleted_at|add_class:'form-control' }}
                        </div>
                        <div class="form-row">
                            <div class="form-group pr-2 col-sm item-w25">
                                <label>Produto</label>
                                {{ form.produto|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w10">
                                <label>Referência</label>
                                {{ form.referencia|add_class:'form-control'|attr:'readonly' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w15">
                                <label>Acabamento</label>
                                {{ form.acabamento|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w15">
                                <label>Tecido</label>
                                {{ form.tecido|add_class:'form-control' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w10">
                                <label>Valor Unitário</label>
                                {{ form.valorUnitario|add_class:'form-control'|attr:'readonly' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w10">
                                <label>Valor Parcial</label>
                                {{ form.valorParcial|add_class:'form-control'|attr:'readonly' }}
                            </div>
                            <div class="form-group pr-2 col-sm item-w12">
                                <label>Quantidade</label>
                                {{ form.quantidade|add_class:'form-control' }}
                            </div>
                            <div class="form-group col-sm item-w3">
                                <input id="id_itempedido_set-{{ forloop.counter0 }}-remover" class="btn btn-danger delete-item" type="button" value="X" />
                            </div>
                            
                        </div>
                    </div>                
                {% endfor %}
            </div>
                
            <script type="text/html" id="formset-template">
                
                {% for form in formset %}
                {% if forloop.last %}
                <div id="formset-__prefix__" class="formset-div">
                    <div hidden>                           
                        {{ form.id|add_class:'form-control' }}
                        {{ form.deleted_at|add_class:'form-control' }}
                    </div>
                    <div class="form-row">
                        <div class="form-group pr-2 col-sm item-w25">
                            <label>Produto</label>
                            {{ form.produto|add_class:'form-control' }}
                        </div>
                        <div class="form-group pr-2 col-sm item-w10">
                            <label>Referência</label>
                            {{ form.referencia|add_class:'form-control'|attr:'readonly' }}
                        </div>
                        <div class="form-group pr-2 col-sm item-w15">
                            <label>Acabamento</label>
                            {{ form.acabamento|add_class:'form-control' }}
                        </div>
                        <div class="form-group pr-2 col-sm item-w15">
                            <label>Tecido</label>
                            {{ form.tecido|add_class:'form-control' }}
                        </div>
                        <div class="form-group pr-2 col-sm item-w10">
                            <label>Valor Unitário</label>
                            {{ form.valorUnitario|add_class:'form-control'|attr:'readonly' }}
                        </div>
                        <div class="form-group pr-2 col-sm item-w10">
                            <label>Valor Parcial</label>
                            {{ form.valorParcial|add_class:'form-control'|attr:'readonly' }}
                        </div>
                        <div class="form-group pr-2 col-sm item-w12">
                            <label>Quantidade</label>
                            {{ form.quantidade|add_class:'form-control' }}
                        </div>
                        <div class="form-group col-sm item-w3">
                            <input id="id_itempedido_set-__prefix__-remover" class="btn btn-danger delete-item" type="button" value="X" />
                        </div>
                        
                    </div>
                </div>                
                {% endif %}
                {% endfor %}
                
            </script>
                
            <a href="#" id="add-item-button" class="btn btn-info add-item">Adicionar Item</a>

            <hr/>
            
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Valor Bruto</label>
                    {{ form.valorBruto|add_class:'form-control'|attr:'readonly' }}
                </div>
                <div class="form-group col-md-1">
                   <label>Desconto 1</label>
                    {{ form.desconto1|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-1">
                    <label>Desconto 2</label>
                     {{ form.desconto2|add_class:'form-control' }}
                 </div>
            
                <div class="form-group col-md-1">
                    <label>Desconto 3</label>
                    {{ form.desconto3|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-1">
                   <label>Desconto 4</label>
                    {{ form.desconto4|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-1">
                    <label>Desconto 5</label>
                    {{ form.desconto5|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-2">
                    <label>IPI</label>
                    {{ form.ipi|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-2">
                    <label>Valor do IPI</label>
                    {{ form.valorIpi|add_class:'form-control'|attr:'readonly'  }}
                </div>
            </div>
            <div class="form-row">
               
                <div class="form-group col-md-2">
                    <label>Valor Total</label>
                    {{ form.valorTotal|add_class:'form-control'|attr:'readonly'  }}
                </div>
                <div class="form-group col-md-2">
                    <label>Porcentagem da Comissão</label>
                    {{ form.porcentagemComissao|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-2">
                    <label>Valor da Comissão</label>
                    {{ form.valorComissao|add_class:'form-control'|attr:'readonly'  }}
                </div>
                
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Observações</label>
                    {{ form.observacoes|add_class:'form-control' }}
                </div>
            </div>
            
            
            <input class="btn btn-primary submit-btn" type="submit" value="Submit" />
            <a href="{% url 'pedidos' %}"><input class="btn btn-secondary submit-btn" type="button" value="Cancel" /></a>
            
        </form>

        
        <!-- Modal confirm -->
        <div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body" id="confirmMessage">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmOk">Sim</button>
                    <button type="button" class="btn btn-secondary" id="confirmCancel">Cancelar</button>
                    </div>
            </div>
            </div>
        </div>
    </div>

<script>
    $("[id$='_cliente']").select2();
    $("[id$='_representada']").select2();
    $("[id$='_trasnportadora']").select2();
    $("[id$='_formaPagamento']").select2();
    $("[id$='-produto']").select2();
    $("[id$='-acabamento']").select2();
    $("[id$='-tecido']").select2();
    $( function() {
        $( "#id_data" ).datepicker();
    } );
    function get2decimal(number){
        return parseFloat(number).toFixed(2);
    }

    function deleteItemEvent(){
        $('.delete-item').on('click', function(){
                console.log(this.id);
                var $id_split = this.id.split("-");
                
                confirmDialog("<h3>Remover este item?</h3>", function(){
                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = today.getFullYear();
                    today = yyyy + '-' + mm + '-' + dd;

                    console.log("### "+$id_split[0]+'-'+$id_split[1]);

                    $('#'+$id_split[0]+'-'+$id_split[1]+'-deleted_at').val(today);
                    
                    $('#'+$id_split[0]+'-'+$id_split[1]+'-quantidade').val(0);
                    updateValorParcial($id_split);
                    updateValorBruto();
                    updateValorTotal();
                    $('#formset-'+$id_split[1]).hide();
                    console.log("deleted!");
                });
        });
    }
    deleteItemEvent();

    function confirmDialog(message, onConfirm){
        var fClose = function(){
            modal.modal("hide");
        };
        var modal = $("#confirmModal");
        modal.modal("show");
        $("#confirmMessage").empty().append(message);
        $("#confirmOk").unbind().one('click', onConfirm).one('click', fClose);
        $("#confirmCancel").unbind().one("click", fClose);
    }

    $(function() {
        $('.add-item').on('click', function(ev) {
            console.log("DJONODCN");
            ev.preventDefault();
            var count = $('#formset-container').children(".formset-div").length;
            console.log(count);
            var tmplMarkup = $('#formset-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count).replace(/set-\d+/g,"set-"+count);
            $('div#formset-container').append(compiledTmpl);

            // update form count
            $("[id$='TOTAL_FORMS']").attr('value', count+1);

            // some animate to scroll to view our new form
            $('html, body').animate({
                scrollTop: $("#add-item-button").position().top-200
            }, 800);
            $("[id$='-quantidade']").inputSpinner();
            populateFields();
            deleteItemEvent();
            $("[id$='-produto']").select2();
            $("[id$='-acabamento']").select2();
            $("[id$='-tecido']").select2();
        });
    });

    function populateFields(){
        $("[id$='-produto']").on('change', function(){
            console.log(this.id);
            var $id_split = this.id.split("-");
            var $id_produto = $('#'+$id_split[0]+'-'+$id_split[1]+'-produto').val();

            $.ajax({
                method: "GET",
                url: "{% url 'get_produto_info' %}",
                dataType: 'json',
                data: { produto: $id_produto },
                success: function(data, status) {
                    console.log("SUCCESS:");
                    console.log(data);
                    console.log(data['referencia']);
                    console.log(data['valor']);
                    
                    referencia = data['referencia'];
                    valorUnitario = data['valor'];

                    console.log('@@@@@@@@@@@@');
                    
                    $('#'+$id_split[0]+'-'+$id_split[1]+'-referencia').val(referencia);
                    $('#'+$id_split[0]+'-'+$id_split[1]+'-valorUnitario').val(valorUnitario);
                    qtde = $('#'+$id_split[0]+'-'+$id_split[1]+'-quantidade').val();
                    $('#'+$id_split[0]+'-'+$id_split[1]+'-valorParcial').val((parseFloat(qtde)*valorUnitario).toFixed(2));
                    updateValorBruto();
                    updateValorTotal();
                },
                error: function(response) {
                }
            });
            

        });
        $("[id$='-quantidade']").on('change', function(){
            var $id_split = this.id.split("-");

            updateValorParcial($id_split);
            updateValorBruto();
            updateValorTotal();
        });
    }
    $(function() {
        populateFields();
        $("[id$='-quantidade']").inputSpinner();
    });

    function updateValorParcial(id_split){
        qtde = $('#'+id_split[0]+'-'+id_split[1]+'-quantidade').val();
        valorUnitario = $('#'+id_split[0]+'-'+id_split[1]+'-valorUnitario').val();

        if(qtde !== undefined && qtde >= 0 && valorUnitario){
            $('#'+id_split[0]+'-'+id_split[1]+'-valorParcial').val((parseFloat(qtde)*valorUnitario).toFixed(2));
        }
    }

    
    $("[id$='-produto']").each(function() {
        console.log(this.id);
        var $id_split = this.id.split("-");
        var $id_produto = $('#'+$id_split[0]+'-'+$id_split[1]+'-produto').val();
        if($id_produto){
            $.ajax({    
                method: "GET",
                url: "{% url 'get_produto_info' %}",
                dataType: 'json',
                data: { produto: $id_produto },
                success: function(data, status) {
                    referencia = data['referencia'];
                    valorUnitario = data['valor'];
                    
                    $('#'+$id_split[0]+'-'+$id_split[1]+'-referencia').val(referencia);
                    $('#'+$id_split[0]+'-'+$id_split[1]+'-valorUnitario').val(valorUnitario);
                    qtde = $('#'+$id_split[0]+'-'+$id_split[1]+'-quantidade').val();
                    $('#'+$id_split[0]+'-'+$id_split[1]+'-valorParcial').val((parseFloat(qtde)*valorUnitario).toFixed(2));
                    updateValorBruto();
                    updateValorTotal();
                },
                error: function(response) {
                }
            });
        }   
    });

    function updateValorBruto(){
        var $valorBruto = 0.00;
        $("[id$='-valorParcial']").each(function() {
            if($(this).val()){
                $valorBruto += parseFloat($(this).val());
                console.log("this.val: "+$(this).val());
            }
        });
        $("[id$='_valorBruto']").val(get2decimal($valorBruto));
        console.log("VBVBVBVB: "+$valorBruto);
    }

    function onDescontoEdit(){
        $("[id*='_desconto']").on('change', function(){
            updateValorTotal();
        });
    }

    function onIpiEdit(){
        $("[id$='_ipi']").on('change', function(){
            updateValorTotal();
        });
    }

    function getValorDescontoAplicado(){
        valorBruto = parseFloat($("[id$='_valorBruto']").val());

        // var $descontos= 0;

        desconto1 = parseFloat($("[id*='_desconto1']").val());
        desconto2 = parseFloat($("[id*='_desconto2']").val());
        desconto3 = parseFloat($("[id*='_desconto3']").val());
        desconto4 = parseFloat($("[id*='_desconto4']").val());
        desconto5 = parseFloat($("[id*='_desconto5']").val());

        // $("[id*='_desconto']").each(function() {
        //     if($(this).val()){
        //         $descontos += parseFloat($(this).val());
        //         console.log("descpntp "+$(this).val());
        //     }
        // });
        if(desconto1 > 0){
            valorBruto = valorBruto * (100 - desconto1)/100;
        }
        if(desconto2 > 0){
            valorBruto = valorBruto * (100 - desconto2)/100;
        }
        if(desconto3 > 0){
            valorBruto = valorBruto * (100 - desconto3)/100;
        }
        if(desconto4 > 0){
            valorBruto = valorBruto * (100 - desconto4)/100;
        }
        if(desconto5 > 0){
            valorBruto = valorBruto * (100 - desconto5)/100;
        }

        // valor_descontos = 0;
        // if($descontos > 0){
        //     valor_descontos = valorBruto * ($descontos/100);
        // }
        valor_desconto_aplicado = valorBruto; 
        console.log("VALOR valor_desconto_aplicado: "+ valor_desconto_aplicado);
        return valor_desconto_aplicado;
    }

    function updateValorIpi(){
        ipi = parseFloat($("[id$='_ipi']").val());
        if(ipi){
            
            valor_desconto_aplicado = getValorDescontoAplicado();
            valor_ipi = get2decimal(valor_desconto_aplicado * (ipi/100));
            $("[id$='_valorIpi']").val(valor_ipi);
            console.log("VALOR IPI: "+ valor_ipi);
        }
    }

    function updateValorTotal(){
        updateValorIpi();
        updateValorComissao();
        valorBruto = parseFloat($("[id$='_valorBruto']").val());
        valorIpi = parseFloat($("[id$='_valorIpi']").val());
        valor_desconto_aplicado = parseFloat(getValorDescontoAplicado());
        valor_total = get2decimal(valor_desconto_aplicado + valorIpi);
        $("[id$='_valorTotal']").val(valor_total);
        console.log("VALOR TOTAL: "+ valor_total);
    }

    function onPorcentagemComissaoEdit(){
        $("[id$='_porcentagemComissao']").on('change', function(){
            updateValorComissao();
        });
    }

    function updateValorComissao(){
        // valorBruto = parseFloat($("[id$='_valorBruto']").val());
        valor_desconto_aplicado = getValorDescontoAplicado();
        porcentagemComissao = parseFloat($("[id$='_porcentagemComissao']").val());
        if(porcentagemComissao > 0){
            valorComissao = get2decimal(valor_desconto_aplicado * (porcentagemComissao/100));
            $("[id$='_valorComissao']").val(valorComissao);
            console.log("VALOR COMISAO: "+ valorComissao);
        }
    }
    
    onDescontoEdit();
    onIpiEdit();
    onPorcentagemComissaoEdit();

    
</script>
{% endblock %}
