{% extends "base_generic.html" %}

{% block content %}
  <div class="obj-list-container">

    {% if not is_mobile %}
    <h1>Pedidos</h1>

    <div class="filter-container">
      <a class="create-new-link btn btn-primary" href="{% url 'pedido-create' %}"> Criar Novo</a>
      <form method="get" action="{% url 'pedidos' %}">
        <div class="input-group form-row mb-3">
          <input type="text" class="form-control col-6 mr-2 ml-2" value="{{filter}}" name="filter" placeholder="Buscar"/>
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Ordenar por</label>
          </div>
          <select id="inputGroupSelect01" class="form-control col-3 mr-2"  name="orderby">
            {% for option in options %}
              <option value="{{option.0}}" {% ifequal option.0 orderby %} selected {% endifequal %}> {{option.1}}</option>
            {% endfor %}
          </select>
          <div class="asc-desc-container col-3">
            <select class="form-control mr-2"  name="asc_desc">
              {% for option in asc_desc_options %}
                <option value="{{option.0}}" {% ifequal option.0 asc_desc %} selected {% endifequal %}> {{option.1}}</option>
              {% endfor %}
            </select>
            <button class="btn btn-secondary" type="submit" name="submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>

    <div class="table-responsive obj-list-table-container">
      
      <table class="table obj-list-table" style="width:100%">
        <tr>
          <th style="width: 80px;">Número</th>
          <th style="width: 100px;">Data</th>
          <th style="width: 130px;">Ordem</th>
          <th>Cliente</th>
          <th>Representada</th>
          <th style="width: 100px;">Status</th>
          <th style="width: 80px;">Subtotal</th>
          <th style="width: 80px;">IPI</th>
          <th style="width: 115px;">Total da Venda</th>
          <th style="width: 85px;">Comissão</th>
          <th style="width: 175px;">Ação</th>
          <!-- <th>Atualizado em</th> -->
        </tr>
        {% for object in object_list %}
        
        <tr>
          <td style="width: 80px;"><a class="obj-link" href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
          <td>{{ object.data }}</td>
          <td>{{ object.ordemCompra }}</td>
          <td>{{ object.cliente.razaoSocial }}</td>
          <td>{{ object.representada.nome }}</td>
          <td>{{ object.status }}</td>
          <td>{{ object.valorBruto }}</td>
          <td>{{ object.valorIpi }}</td>
          <td>{{ object.valorTotal }}</td>
          <td>{{ object.valorComissao }}</td>
          <!-- <td>{{ object.lastUpdate }}</td> -->
          <td>
              <a class="btn btn-secondary" href="{{ object.get_edit_url }}"> Editar</a>
              <a class="btn btn-danger" href="{{ object.get_delete_url }}"> Delete</a>
              <a class="btn btn-warning" href="{% url 'pedido-pdf' object.pk %}"> PDF</a>
          </td>
        </tr>

      {% empty %}
        <p>Sem cadastros.</p>
      {% endfor %}

      </table>
    </div>

    <div class="obj-list-new-container">
      <ul class="pagination justify-content-end">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
        {% endif %}
        <li class="page-item disabled">
          <span class="page-link">
            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
          </span>
        </li>        
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
        {% endif %}
      </ul>
    </div>
    <p>{{ object.get_text }} </p>

    {% else %}
    <h1>Pedidos <a style="float:right;" class="create-new-link-sm btn btn-primary" href="{% url 'pedido-create' %}"> Criar Novo</a></h1>
    

    <div class="filter-container">
      <form method="get" action="{% url 'pedidos' %}">
        <div class="input-group form-row mb-3">
          <input type="text" class="form-control col-12" value="{{filter}}" name="filter" placeholder="Buscar"/>
        </div>
        <div class="input-group form-row mb-3">
          
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Ordenar por</label>
          </div>
          <select id="inputGroupSelect01" class="form-control col-4 mr-2"  name="orderby">
            {% for option in options %}
              <option value="{{option.0}}" {% ifequal option.0 orderby %} selected {% endifequal %}> {{option.1}}</option>
            {% endfor %}
          </select>
          <select class="form-control col-3 mr-2"  name="asc_desc">
            {% for option in asc_desc_options %}
              <option value="{{option.0}}" {% ifequal option.0 asc_desc %} selected {% endifequal %}> {{option.1}}</option>
            {% endfor %}
          </select>
          <button class="btn btn-secondary" type="submit" name="submit"><i class="fas fa-search"></i></button>
        </div>
      </form>
    </div>

    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&#5176;</a></li>
      {% endif %}
      <li class="page-item disabled">
        <span class="page-link">
          {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>
      </li>        
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&#5171;</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
      {% endif %}
    </ul>
    
    <div class="card-deck">      
      {% for object in object_list %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> {{ object }} </h5>
          <p class="card-text">{{ object.get_text }} </p>
          <a class="btn btn-secondary" href="{{ object.get_edit_url }}"> Editar</a>
          <a class="btn btn-danger" href="{{ object.get_delete_url }}"> Delete</a>
          <a class="btn btn-warning" href="{% url 'pedido-pdf' object.pk %}"> PDF</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Atualizado em: {{ object.lastUpdate }}</small>
        </div>
      </div>
      {% endfor %}
    </div>

    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&#5176;</a></li>
      {% endif %}
      <li class="page-item disabled">
        <span class="page-link">
          {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>
      </li>        
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&#5171;</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
      {% endif %}
    </ul>

    {% endif %}
    <!-- <div class="card-deck">
      <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      </div>
      <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      </div>
    </div> -->
  </div>       
{% endblock %}

