{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Resumo de Pedido - {{pedido.ordemCompra}}</title>
        <style type="text/css">
            @page {
                size: A4;
                margin: 1cm;
            }
            
            .items-table, td, th {  
                border-bottom: 1px solid #ddd;
                border-top: 1px solid #ddd;
                text-align: left;
                padding: 5px;
            }
            .items-table {
                border-collapse: collapse;
                width: 100%;
            }
            
            /* .td{
                word-break: none;
            } */
            .list-group p {
                font-size: 1em;
            }

            .table1, .table-cliente, .table-valores, .table-resumo{
                width: 100%;
                max-width: 100%;
                margin-bottom: 5px;
                background-color: #fff;
            }
            .table1, .table-cliente, .table-valores{
                border: none;
            }
            
            .table1 td, .table-cliente td, .table-valores td, .table-resumo td {
                border: none;
                vertical-align: top;
            }
            .table-valores{
                margin-top:20px;
            }
            .inner-table{
                width: 100%;
                max-width: 100%;
                background-color: #fff;
                border: none;
                text-align: start;
            }

            .inner-table td{
                padding: 0px;
            }
            
            .inner-table .field-td{
                width: 35%; 
                font-weight: bold;
                text-align: start;
                margin-left: 10px;
            }

            .inner-table .value-td{
                width: 65%; 
                text-align: start;
            }
            
            .company-info-table, .order-info-table{
                text-align: start;
            }
            .cliente-info, .representada-info, .valores-info{
                text-align: start;
                padding: 0px;
            }
            .cliente-info h2, .representada-info h2{
                margin: 10px 0px 0px 0px;
                padding: 0px;

            }
            

        </style>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <table class="table1">
                    <td style="width: 120px"><img src="/home/miguelguida/www/static/dist/img/logo.jpeg" height="85px"/></td>
                    <!-- <td style="width: 25%">
                        <div class="list-group">
                            <p>NG Representações</p>
                            <p>Date - {% now "jS F Y H:i" %}</p>
                        </div>
                    </td> -->
                    <td style="width: 40%">
                        <div class="company-info-table">
                            <table class="inner-table">
                                <tr><td class="field-td">Telefone: </td><td class="value-td"> (14) 3422-1610</td></tr>
                                <tr><td class="field-td">Celular: </td><td class="value-td"> (14) 98129-8551 e (14) 98129-8610</td></tr>
                                <tr><td class="field-td">E-mail: </td><td class="value-td"> contato@ngrepresentacoes.com.br</td></tr>
                                <tr><td class="field-td">Endereço: </td><td class="value-td"> Rua André Martins Parra, 250 - C41</td></tr>
                                <tr><td class="field-td">Bairro: </td><td class="value-td"> Jardim Colibri</td></tr>
                                <tr><td class="field-td">Cidade: </td><td class="value-td"> Marília-SP</td></tr>
                            </table>
                            
                        </div>
                        
                    </td>
                    <td style="width: 50%">
                        
                        <div class="order-info-table">
                            <table class="inner-table">
                                <tr><td class="field-td">Nr. Pedido: </td><td class="value-td"> {{ pedido.id }}</td></tr>
                                <tr><td class="field-td">Ordem de Compra: </td><td class="value-td"> {{ pedido.ordemCompra }}</td></tr>
                                <tr><td class="field-td">Vendedor: </td><td class="value-td"> {{ pedido.vendedor.nome }}</td></tr>
                                <tr><td class="field-td">Data: </td><td class="value-td"> {{ pedido.data }}</td></tr>
                            </table>
                            
                        </div>
                        
                    </td>
                </table>

                <hr/>

                <table class="table-cliente">
                    <td style="width: 50%">
                        
                        <div class="cliente-info">
                            <table class="inner-table">
                                <tr><td class="field-td"><h2>Cliente:</h2>  </td><td class="value-td" style="font-weight:500;">{{ pedido.cliente.razaoSocial }}</td></tr>
                                <tr><td class="field-td">Telefone: </td><td class="value-td">{{ pedido.cliente.telefone }}</td></tr>
                                <tr><td class="field-td">Email:    </td><td class="value-td">{{ pedido.cliente.email }}</td></tr>
                            </table>
                            <h2>Faturamento</h2>
                            <table class="inner-table">
                                <tr><td class="field-td">CNPJ: </td><td class="value-td"> {{ pedido.cliente.fat_cnpj }}</td></tr>
                                <tr><td class="field-td">Insc. Estadual: </td><td class="value-td"> {{ pedido.cliente.fat_inscEstadual }}</td></tr>
                                <tr><td class="field-td">Endereço: </td><td class="value-td"> {{ pedido.cliente.fat_endereco }}</td></tr>
                                <tr><td class="field-td">Bairro: </td><td class="value-td"> {{ pedido.cliente.fat_bairro }}</td></tr>
                                <tr><td class="field-td">Cidade: </td><td class="value-td"> {{ pedido.cliente.fat_cidade }}-{{ pedido.cliente.fat_estado }}</td></tr>
                                <tr><td class="field-td">CEP: </td><td class="value-td"> {{ pedido.cliente.fat_cep }}</td></tr>
                            </table>
                            <h2>Cobrança</h2>
                            <table class="inner-table">
                                <tr><td class="field-td">CNPJ: </td><td class="value-td"> {{ pedido.cliente.cob_cnpj }}</td></tr>
                                <tr><td class="field-td">Insc. Estadual: </td><td class="value-td"> {{ pedido.cliente.cob_inscEstadual }}</td></tr>
                                <tr><td class="field-td">Endereço: </td><td class="value-td"> {{ pedido.cliente.cob_endereco }}</td></tr>
                                <tr><td class="field-td">Bairro: </td><td class="value-td"> {{ pedido.cliente.cob_bairro }}</td></tr>
                                <tr><td class="field-td">Cidade: </td><td class="value-td"> {{ pedido.cliente.cob_cidade }}-{{ pedido.cliente.cob_estado }}</td></tr>
                                <tr><td class="field-td">CEP: </td><td class="value-td"> {{ pedido.cliente.cob_cep }}</td></tr>
                            </table>
                            <h2>Entrega</h2>
                            <table class="inner-table">
                                <tr><td class="field-td">CNPJ: </td><td class="value-td"> {{ pedido.cliente.entr_cnpj }}</td></tr>
                                <tr><td class="field-td">Insc. Estadual: </td><td class="value-td"> {{ pedido.cliente.entr_inscEstadual }}</td></tr>
                                <tr><td class="field-td">Endereço: </td><td class="value-td"> {{ pedido.cliente.entr_endereco }}</td></tr>
                                <tr><td class="field-td">Bairro: </td><td class="value-td"> {{ pedido.cliente.entr_bairro }}</td></tr>
                                <tr><td class="field-td">Cidade: </td><td class="value-td"> {{ pedido.cliente.entr_cidade }}-{{ pedido.cliente.entr_estado }}</td></tr>
                                <tr><td class="field-td">CEP: </td><td class="value-td"> {{ pedido.cliente.entr_cep }}</td></tr>
                            </table>
                            
                        </div>
                        
                    </td>
                    <td style="width: 50%">
                        
                        <div class="representada-info">
                            <table class="inner-table">
                                <tr><td class="field-td"><h2>Forma de Pag.:</h2> </td><td class="value-td" style="font-weight:500;"> {{ pedido.formaPagamento }}</td></tr>
                                <tr><td class="field-td">Tipo da Cobrança: </td><td class="value-td"> {{ pedido.tipoCobranca }}</td></tr>
                                <tr><td class="field-td">Tipo de Frete: </td><td class="value-td"> {{ pedido.tipoFrete }}</td></tr>
                            </table>
                            <h2>Representada</h2>
                            <table class="inner-table">
                                <tr><td class="field-td">Representada: </td><td class="value-td"> {{ pedido.representada.contato }}</td></tr>
                                <tr><td class="field-td">Telefone: </td><td class="value-td"> {{ pedido.representada.telefone }}</td></tr>
                                <tr><td class="field-td">Email: </td><td class="value-td"> {{ pedido.representada.email }}</td></tr>
                                <tr><td class="field-td">Endereço: </td><td class="value-td"> {{ pedido.representada.endereco }}</td></tr>
                                <tr><td class="field-td">Bairro: </td><td class="value-td"> {{ pedido.representada.bairro }}</td></tr>
                                <tr><td class="field-td">Cidade: </td><td class="value-td"> {{ pedido.representada.cidade }}-{{ pedido.representada.estado }}</td></tr>
                                <tr><td class="field-td">CEP: </td><td class="value-td"> {{ pedido.representada.cep }}</td></tr>
                            </table>
                            <h2>Transportadora</h2>
                            <table class="inner-table">
                                <tr><td class="field-td">Transportadora: </td><td class="value-td"> {{ pedido.transportadora.nome }}</td></tr>
                                <tr><td class="field-td">Telefone: </td><td class="value-td"> {{ pedido.transportadora.telefone }}</td></tr>
                                <tr><td class="field-td">Email: </td><td class="value-td"> {{ pedido.transportadora.email }}</td></tr>
                                <tr><td class="field-td">Endereço: </td><td class="value-td"> {{ pedido.transportadora.endereco }}</td></tr>
                                <tr><td class="field-td">Bairro: </td><td class="value-td"> {{ pedido.transportadora.bairro }}</td></tr>
                                <tr><td class="field-td">Cidade: </td><td class="value-td"> {{ pedido.transportadora.cidade }}-{{ pedido.transportadora.estado }}</td></tr>
                                <tr><td class="field-td">CEP: </td><td class="value-td"> {{ pedido.transportadora.cep }}</td></tr>
                            </table>
                        </div>
                        
                    </td>
                </table>
                <br>

                <!-- Items do Pedido -->
                <table class="items-table">
                    <h1>Itens do Pedido</h1>
                    <thead>
                        <tr>
                            <th>Referência</th>
                            <th>Qtd.</th>
                            <th>Tecido</th>
                            <th>Produto</th>
                            <th>Acabamento</th>
                            <th>Valor Unitário</th>
                            <th>Valor Parcial</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in itemsPedido %}
                        <tr>
                            {% if item.produto.referencia %}
                                <td>{{ item.produto.referencia }}</td>
                            {% else %} 
                                <td> </td>
                            {% endif %}  
                            
                            {% if item.quantidade %}
                                <td>{{ item.quantidade }}</td>
                            {% else %} 
                                <td> </td>
                            {% endif %}   

                            {% if item.tecido %}
                                <td>{{ item.tecido }}</td>
                            {% else %} 
                                <td> </td>
                            {% endif %}
                            
                            <td>{{ item.produto }}</td>
                            
                            {% if item.acabamento %}
                                <td>{{ item.acabamento }}</td>
                            {% else %} 
                                <td> </td>
                            {% endif %}   
                            
                            <td>{{ item.valorUnitario }}</td>
                            <td>{{ item.valorParcial }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                </table>

                <table class="table-valores">
                    <tr>
                        <td style="width: 33%">
                            <div class="valores-info">
                                <table class="inner-table">
                                    <tr><td class="field-td">Valor Bruto: </td><td class="value-td"> {{ pedido.valorBruto }}</td></tr>
                                    <tr><td class="field-td">Desconto 1: </td><td class="value-td"> {{ pedido.desconto1 }}%</td></tr>
                                    <tr><td class="field-td">Desconto 2: </td><td class="value-td"> {{ pedido.desconto2 }}%</td></tr>
                                </table>
                            </div>
                        </td>
                        <td style="width: 33%">
                            <div class="valores-info">
                                <table class="inner-table">
                                    <tr><td class="field-td">Desconto 3: </td><td class="value-td"> {{ pedido.desconto3 }}%</td></tr>
                                    <tr><td class="field-td">Desconto 4: </td><td class="value-td"> {{ pedido.desconto4 }}%</td></tr>
                                    <tr><td class="field-td">Desconto 5: </td><td class="value-td"> {{ pedido.desconto5 }}%</td></tr>
                                </table>
                            </div>
                        </td>
                        <td style="width: 33%">
                            <div class="valores-info">
                                <table class="inner-table">
                                    <tr><td class="field-td">IPI: </td><td class="value-td"> {{ pedido.ipi }}%</td></tr>
                                    <tr><td class="field-td">Valor Total: </td><td class="value-td"> {{ pedido.valorTotal }}</td></tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="table-resumo">
                    <tr>
                        <td style="width: 50%">
                            <div class="valores-info">
                                <table class="inner-table">
                                    <tr><td class="field-td">Observações: </td><td class="value-td"> {{ pedido.observacoes }}</td></tr>
                                </table>
                            </div>
                        </td>
                        <td style="width: 50%; border: 1px solid rgb(99, 99, 99);">
                            <div class="resumo-div">
                                <table class="inner-table">
                                    <tr><td class="field-td">Vr. Produtos: </td><td class="value-td"> {{ valor_produtos|floatformat:2 }}</td></tr>
                                    <tr><td class="field-td">(-) Descontos: </td><td class="value-td"> {{ valor_descontos|floatformat:2 }}</td></tr>
                                    <tr><td class="field-td">Total: </td><td class="value-td"> {{ valor_desconto_aplicado|floatformat:2 }}</td></tr>
                                    <tr><td class="field-td">IPI ({{ pedido.ipi }}%): </td><td class="value-td"> {{ valor_ipi|floatformat:2 }}</td></tr>
                                    <tr><td class="field-td">Total do Pedido: </td><td class="value-td"> {{ valor_total_pedido|floatformat:2 }}</td></tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </body>
</html>