{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
    
    <div class="form-container">
        <h1 class="mb-5">{{ createUpdate }} Transportadora</h1>

        <form action="" method="post">
            {% csrf_token %}
           
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Nome</label>
                    {{ form.nome|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-6">
                    <label>Contato</label>
                    {{ form.contato|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>CNPJ</label>
                    {{ form.cnpj|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>Inscrição Estadual</label>
                    {{ form.inscEstadual|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-2">
                    <label>Telefone</label>
                    {{ form.telefone|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-2">
                    <label>Celular</label>
                    {{ form.celular|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>Email</label>
                    {{ form.email|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>CEP</label>
                    {{ form.cep|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>Cidade</label>
                    {{ form.cidade|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-1">
                    <label>Estado</label>
                    {{ form.estado|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>Bairro</label>
                    {{ form.bairro|add_class:'form-control' }}
                </div>
                <div class="form-group col-md-3">
                    <label>Endereco</label>
                    {{ form.endereco|add_class:'form-control' }}
                </div>
                
            </div>
            <div class="form-row">
                
                <div class="form-group col-md-6">
                    <label>Observações</label>
                    {{ form.observacoes|add_class:'form-control' }}
                </div>
            </div>
            

            <!-- <div class="input-group">
                <label>observacoes</label>
                <div class="input-group-append">
                    <div class="input-group-text"> <span class="fas fa-user"></span> </div>
                </div>
                
                {{ form.observacoes|add_class:'form-control' }}
            </div>   -->
          
            
            <input class="btn btn-primary submit-btn" type="submit" value="Salvar" />
            <a href="{% url 'transportadoras' %}"><input class="btn btn-secondary submit-btn" type="button" value="Cancelar" /></a>
            
        </form>
    </div>
<script>
    var cep = document.getElementById("id_cep")
    cep.onblur = function(){
        console.log("poaspoaspoaspoaspoaspo")
        var url = "https://viacep.com.br/ws/"+cep.value+"/json/";
                
        // Faz a pesquisa do CEP, tratando o retorno com try/catch para que
        // caso ocorra algum erro (o cep pode não existir, por exemplo) a
        // usabilidade não seja afetada, assim o usuário pode continuar//
        // preenchendo os campos normalmente
        fetch(url, {
            method: 'get'
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            document.getElementById("id_estado").value = data.uf
            document.getElementById("id_endereco").value = data.logradouro
            document.getElementById("id_cidade").value = data.localidade
            document.getElementById("id_bairro").value = data.bairro

        }).catch(function(err) {
            // Error :(
        });
    };
    


</script>
{% endblock %}
