{% extends "base_generic.html" %}

{% block content %}
  <div class="obj-list-container">
    <h1>Transportadoras</h1>
    
    {% if not is_mobile %}
    <div class="table-responsive obj-list-table-container">
      
      <table class="table obj-list-table" style="width:100%">
        <tr>
          <th style="width: 80px;">Codigo</th>
          <th>Nome</th>
          <th style="width: 150px;">CNPJ</th>
          <th>Contato</th>
          
          <th style="width: 120px;">Telefone</th>
          <th style="width: 120px;">Celular</th>
          <th>Email</th>
          <th>Cidade</th>
          <th style="width: 60px;">UF</th>
          <th style="width: 140px;">Acao</th>
        </tr>
        {% for object in object_list %}
        
        <tr>
          <td>{{ object.id }}</td>
          <td><a class="obj-link" href="{{ object.get_absolute_url }}">{{ object.nome }}</a></td>
          <td>{{ object.cnpj }}</td>
          <td>{{ object.contato }}</td>
          <td>{{ object.telefone }}</td>
          <td>{{ object.celular }}</td>
          <td>{{ object.email }}</td>
          <td>{{ object.cidade }}</td>
          <td>{{ object.estado }}</td>
          <td>
              <a class="btn btn-secondary" href="{{ object.get_edit_url }}"> Editar</a>
              <a class="btn btn-danger" href="{{ object.get_delete_url }}"> Delete</a>
          </td>
        </tr>

      {% empty %}
        <p>Sem cadastros.</p>
      {% endfor %}

      </table>
    </div>

    <div class="obj-list-new-container">
      <a class="create-new-link btn btn-primary" href="{% url 'transportadora-create' %}"> Criar Novo</a>
      <ul class="pagination justify-content-end">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
        {% endif %}
        <li class="page-item disabled">
          <span class="page-link">
            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
          </span>
        </li>        
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
        {% endif %}
      </ul>
    </div>
    <p>{{ object.get_text }} </p>
    {% else %}
    
    <!-- #############    MOBILE     ################# -->

    <div class="card-deck">
      <a class="create-new-link-sm btn btn-primary" href="{% url 'transportadora-create' %}"> Criar Novo</a>
      {% for object in object_list %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> {{ object }} </h5>
          <p class="card-text">{{ object.get_text }} </p>
          <a class="btn btn-secondary" href="{{ object.get_edit_url }}"> Editar</a>
          <a class="btn btn-danger" href="{{ object.get_delete_url }}"> Delete</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Atualizado em: {{ object.lastUpdate }}</small>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <!-- <div class="card-deck">
      <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      </div>
      <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      </div>
    </div> -->
  </div>       
{% endblock %}

